* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

#logo img {
    border: none;
    width: 300;
    height: 175;
}

.btn-redirect-auth {
    margin: 0.5rem;
}

/*SEPARATION*/
hr.rounded {
    margin-top: -4px;
    margin-bottom: -4px;
    border-top: 8px solid #464444;
    border-radius: 50px;
}

.welcome-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: calc(100vh - 64px);
}

.welcome-container section {
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.welcome-bx {
    display: flex;
    overflow: hidden;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.welcome-one {
    color: white;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/img/fond.jpg");
    background-size: cover;
}

.welcome-item {
    margin-left: 30px;
}

.welcome-txt {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 50%;
    text-align: center;
    justify-content: center;
}

.welcome-bx img {
    height: 400px;
    width: 600px;
    border-radius: 10px;
}

/*FOOTER*/
section.footer,
footer {
    height: auto;
    padding: 20px;
    background: #112970;
    color: #fff;
}

.footer p a,
footer p a {
    color: #fff;
}
